.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.editor{
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0%;

  background: whitesmoke;
}
.identify-image{

  margin:5px;width:200px;border:1px solid rgba(136, 113, 129, 0.53)
}
.media-row{
  /*height: 200px;*/
  margin-bottom: 5px;
  overflow-y: hidden;
}

.approved{color:green;}
.declined{color:darkred;}
i{margin-right: 5px;}
.exit-no-save{position: absolute;left: -50px;}
.ui-tabset-i{margin-top: 20px;}
.lr-sticky-header{background: #d8d8d8;opacity:1;z-index:9999;}
.active{font-weight: bold;}
.active a{color: #fe57aa!important;border-bottom: 1px solid  #fe57aa;}
.st-sort-ascent:before{
  content: '\f35f';font-family: "Ionicons";
}

.st-sort-descent:before{
  content: '\f365';font-family: "Ionicons";
}
th{cursor:pointer;}
