<style>
.loginForm{

  width: 340px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

}


</style>

  <form class="loginForm" ng-submit="login.login()" method="post" layout="column" flex>
    <md-input-container>
    <input  ng-model="login.email" placeholder="Username" value="admin"/>
      </md-input-container>
    <md-input-container>

    <input placeholder="Password" type="password" ng-model="login.password" value="test123"/>

      </md-input-container>

    <md-button flex class="md-raised md-primary" type="submit">Log in</md-button>
  </form>







