<div class="inner-container card">


  <div id="tableList" ng-show="editor==false">
    <table id="tibli" st-safe-src="usersO" st-table="users" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="username">Username</th>
        <th st-sort="email">Email</th>
        <th st-sort="phone">Phone</th>
        <th st-sort="role">Role</th>
        <th st-sort="subscriptionPaid">Subscribed</th>
        <th st-sort="smsverification">SMS verified</th>
        <th st-sort="emailverification">Email verified</th>
        <th st-sort="verified">Verified</th>
        <th st-sort="active">Active</th>
        <th st-sort="created_at">Created</th>
        <th></th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users">
        <td ng-bind="user.username"></td>
        <td ng-bind="user.email"></td>
        <td ng-bind="user.phone"></td>
        <td ng-bind="user.role"></td>
        <td>
          <md-checkbox ng-model="user.subscriptionPaid" ng-true-value="1" ng-false-value="0" disabled aria-label="subscription">
        </td>
        <td>
          <md-checkbox ng-model="user.smsverification" ng-true-value="1" ng-false-value="0" disabled
                       aria-label="smsverification"></md-checkbox>
        </td>
        <td>
          <md-checkbox ng-model="user.emailverification" ng-true-value="1" ng-false-value="0" disabled
                       aria-label="emailverification"></md-checkbox>
        </td>
        <td>
          <md-checkbox ng-model="user.verified" ng-true-value="1" ng-false-value="0" disabled
                       aria-label="verified"></md-checkbox>
        </td>
        <td>
          <md-checkbox ng-model="user.active" ng-true-value="1" ng-false-value="0" aria-label="active"
                       ng-change="activateUser(user)"></md-checkbox>
        </td>
        <td ng-bind="user.created_at"></td>
        <td><i class="ion-edit" ng-click="editUser(user.username)"></i></td>


      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="itemsDisplayed"></div>
        </td>
      </tr>
      </tfoot>
    </table>

  </div>

  <div class="editor container" ng-show="editor==true" flex>

    <md-button  flex class=" md-raised md-primary" ng-click="editor=false;userInit()"><i class="ion-arrow-left-c"></i>Back</md-button>
    <md-button flex class=" md-raised md-warn pull-right" ng-click="saveUser()"><i class="ion-upload"></i>Save</md-button>

    <md-button flex class="md-no-ink md-raised pull-right" ng-click="resendEmail(user)"><i class="ion-email"></i> Resend email</md-button>
    <md-button flex class="md-no-ink md-raised pull-right" ng-click="resendSMS(user)"><i class="ion-android-textsms"></i> Resend SMS</md-button>


    <uib-tabset class="ui-tabset-i" active="active ">

      <uib-tab index="0" heading="Basic User Details">
        <md-content layout-wrap layout-padding layout="row" flex>
          <div ng-repeat="(key, value) in user" ng-if="basicShow(key)">
            <md-input-container flex>
              <label>{{key}}</label>
              <input ng-model="user[key]">
            </md-input-container>
          </div>
        </md-content>
      </uib-tab>

      <uib-tab index="2" heading="User Profile">
        <md-content layout-wrap layout="row" layout-padding flex>
          <div ng-repeat="(key, value) in user.profile">
            <md-input-container flex>
              <label>{{key}}</label>
              <input ng-model="value">
            </md-input-container>
          </div>
        </md-content>
      </uib-tab>

      <uib-tab index="3" heading="Verification">
        <md-content layout-wrap layout="column" layout-padding flex>

          <!--<md-checkbox ng-true-value="1" ng-false-value="0" ng-model="user.verified" ng-change="verifyUser(user)">-->
            <!--Verified-->
          <!--</md-checkbox>-->

          <h1 ng-if="user.verified==1">User verified !</h1>
          <div ng-if="user.verified==0">
            <h1 >User is not verified !</h1>
            <md-button flex class="md-raised md-primary" ng-click="verifyUser(user)"><i
              class="ion-thumbsup"></i>Approve
            </md-button>
          </div>




          <h1 ng-if="user.verified==0">You can decide to mark as verify or not based on images bellow</h1>
          <md-content layout-wrap layout="row" flex>
            <div layout="column" ng-repeat="ver in user.identify">
              <md-tooltip>{{ver.filename}}</md-tooltip>
              <img ng-src="{{mediaurl}}{{ver.filename}}" class="identify-image"/>
              <!--<md-checkbox ng-false-value="0" ng-true-value="1" ng-model="ver.approved">Approved</md-checkbox>-->
            </div>
          </md-content>
        </md-content>

      </uib-tab>


      <uib-tab index="4" heading="Media">
        <md-content layout="row" flex>
          <md-list flex>
            <span flex="40">Image</span>
            <span flex="40">Censored Image</span>
            <md-list-item class="media-row" flex ng-repeat="media in user.media">
              <div flex="40">
                <img ng-src="{{mediaurl}}{{media.filename}}" class="identify-image"/>

                <span ng-if="media.approved==0">Pending to aprove/decline
                  <md-button flex class="md-raised md-primary" ng-click="approveMedia(media,1)"><i
                    class="ion-thumbsup"></i>Approve
                  </md-button>
                  <md-button flex class="md-raised md-primary md-warn" ng-click="approveMedia(media,2)"><i
                    class="ion-thumbsdown "></i>Decline
                  </md-button>
                </span>
                <span ng-if="media.approved==1" class="approved"><i class="ion-thumbsup"></i>Approved
                <md-button flex class="md-raised md-primary md-warn" ng-click="approveMedia(media,2)"><i
                  class="ion-thumbsdown"></i>Decline
                </md-button>
                </span>
                <span ng-if="media.approved==2" class="declined">Declined
                <md-button flex class="md-raised md-primary" ng-click="approveMedia(media,1)"><i
                  class="ion-thumbsup"></i>Approve
                </md-button>
                </span>

                <!--<md-checkbox ng-false-value="0" ng-true-value="1" ng-model="media.approved">Approved</md-checkbox>-->
              </div>
              <div flex="30">
                <img ng-if="media.censored==1" ng-src="{{mediaurl}}{{media.censored_version.filename}}"
                     class="identify-image"/>

                <div ng-if="media.censored==0">
                  <h3>This image has to  be censored</h3>
                  <md-button flex class="md-raised md-primary md-warn" ng-click="openCensoreDialog($event,media)"><i
                    class="ion-locked"></i>Censore
                  </md-button>
                </div>
              </div>

            </md-list-item>

          </md-list>

        </md-content>
      </uib-tab>


    </uib-tabset>


  </div>


</div>
